# research
docs/pro/
docs/development/
docs/research/


# Sentry OSINT Framework & Recon Loot
.data/.loot/osint/
.data/.config/*_api_keys.json
source/tools/OSINT/__pycache__/
*.osint_cache
*ela_artifact.jpg