cryptography
pyfiglet
pure-python-adb
scapy
requests
PyYAML
phonenumbers
fpdf
sqlitedict
prompt-toolkit
buildozer
kivy
PyPDF2
python-docx
openpyxl
python-pptx
Pillow
pyserial
psutil
colorama
tabulate
gTTS
